.brands {
  margin-bottom: 100px;
}

.brands-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.brand-item {
  margin-bottom: 60px;
}

@media (min-width: $desktop-width) {
  .brands-list {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 5%;
  }

  .brand-item {
    margin-bottom: 0;
  }
}
