.keep-track {
  margin-top: 75px;
  margin-right: 32px;
  margin-bottom: 137px;
  margin-left: 32px;
}

.keep-track img {
  //   background-color: $download-btn-iOS-color;
  width: 321px;
  height: 238px;
}

.feature-item h4 {
  color: $feature-text-color;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
}

.feature-item p {
  color: $features-description-color;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

@media (min-width: $desktop-width) {
  .keep-track img {
    width: 752px;
    height: 572px;
  }
}
