.keep-track {
  margin-top: 75px;
  margin-right: 32px;
  margin-bottom: 110px;
  margin-left: 32px;
}

.keep-track__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keep-track__wrapper--inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keep-track__inner-image {
  background-image: url("../images/image-computer.png");
  background-size: $mobile-feature-block 238px;
  background-repeat: no-repeat;
  margin-bottom: 56px;
  width: $mobile-feature-block;
  height: 238px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $mobile-feature-block;
  margin-bottom: 48px;
}

.feature-item h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  color: $feature-text-color;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  vertical-align: top;
}

.feature-item p {
  margin: 0;
  padding: 0;
  color: $features-description-color;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  vertical-align: top;
}

@media (min-width: $desktop-width) {
  .keep-track-header {
    margin-bottom: 120px;
  }

  .keep-track__wrapper--inner {
    flex-direction: row;
    left: -32px;
    position: relative;
  }

  .keep-track__inner-image {
    background-image: url("../images/image-computer.png");
    background-size: 752px 572px;
    background-position: -32px 0;
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-left: -10%;
    margin-right: 130px;
    width: 752px;
    height: 572px;
    left: -21em;
    top: -21%;
    position: absolute;
  }

  .features-list {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 43em;
  }

  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .feature-item h4 {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
  }

  .feature-item p {
    text-align: left;
  }
}
