.main-footer {
  background-color: $main-header-img-color;
}

.main-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-footer__logo {
  margin-top: 53px;
  margin-bottom: 40px;
}

.nav-item a {
  color: $feature-text-color;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 53px;
}

.additional-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-item {
  margin-bottom: 20px;
}

.nav-item a {
  text-decoration: none;
}

.nav-item a:hover {
  color: #26bba4;
}

.social-item {
  margin-right: 40px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-item:hover .social-item__icon-path {
  fill: #26bba4;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: $attribution-link-color;
}

@media (min-width: $desktop-width) {
  .main-footer-wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .main-footer__logo {
    margin: 0;
    margin-right: 135px;
  }

  .footer-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .additional-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 222px;
    flex-wrap: wrap;
    max-width: 160px;
    max-height: 90px;
    align-items: flex-start;
  }

  .nav-item {
    margin: 0;
    margin-right: 30px;
    margin-bottom: 12px;
    min-width: 160px;
    text-align: left;
  }

  .nav-item a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }

  .social {
    margin: 0;
  }
}
