.main-header {
  margin-bottom: 160px;
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(255, 255, 255, 0.993)
    ),
    url("../images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 363px, 100% 363px;
  background-position: top center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../images/bg-header-desktop.png");
    background-size: 100% 363px, 100% 363px;
  }
}

.main-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header__logo {
  margin-top: 123px;
}

.feature--block {
  width: $mobile-feature-block;
}

.feature-text {
  color: $feature-text-color;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
}

.feature-description {
  color: $features-description-color;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

.main-header__btn-list {
  display: flex;
  flex-direction: column;
}

.download-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 311px;
  height: 56px;
  margin-bottom: 24px;
  border-radius: 28px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.download-btn span {
  color: $download-btn-text-color;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.download-btn--iOS {
  background-color: $download-btn-iOS-color;
}

.download-btn--iOS:hover {
  background: #26bba4;
  box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305),
    inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

.download-btn--Mac {
  background-color: $download-btn-Mac-color;
}

.download-btn--Mac:hover {
  background-color: #6174ff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035),
    inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

@media (min-width: $desktop-width) {
  .main-header {
    background-size: 100% 363px;
    margin-bottom: 150px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../images/bg-header-desktop.png");
      background-size: 100% 363px, 100% 363px;
    }
  }

  .main-header__logo {
    margin-top: 128px;
  }

  .feature--block {
    width: $desktop-feature-block;
  }

  .main-header__btn-list {
    flex-direction: row;
  }

  .download-btn {
    margin-bottom: 0;
    margin-left: 16px;
    width: 227px;
    height: 56px;
  }

  .download-btn span {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.5px;
  }
}
