*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: $main-font-family, $secondary-font-family, $web-safe-font-family;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $mobile-width;
  margin: 0 auto;
}

@media (min-width: $desktop-width) {
  .container {
    max-width: $desktop-width;
  }
}
