@font-face {
  font-family: $main-font-family;
  src: url($normal-font-path + ".woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $main-font-family;
  src: url($semibold-font-path + ".woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
