$main-font-family: "Open Sans";
$secondary-font-family: "Arial";
$web-safe-font-family: sans-serif;
$normal-font-path: "../fonts/BaiJamjuree-Regular";
$semibold-font-path: "../fonts/BaiJamjuree-SemiBold";
